html {
  background-color: white;
}

.body_container{
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1440px;
    margin: 0 auto !important;
    float: none !important;box-shadow: 3px 1px 10px #ddd;
    
}

.web_container{

  max-width: 1440px;
  margin: 0 auto !important;
  float: none !important;
  
}

.col-1 {
  background: #414655;
  flex: 2;
  order:1;
  padding: 4rem 3rem;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-shadow: 3px 1px 10px #333333;
  z-index: 999;
  
}

.intro
{
  font-weight: 600;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
  order:2;
}
.content {
  display: flex;
  flex-direction: row;
}
.content > article {
  flex: 4;
  min-height: 60vh;
}
footer {
  background: #414655;
  padding: 0.1rem 2rem;
  color:#fff;
  display: block;
  text-align: right;
  font-style: italic;


 
}
footer a{
    
    color:#ccc;
}

footer a:hover{
    
  color:#fff;
}
header, article, nav {
  padding: 1em;
}

ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    display: block;
    transition: 0.5s;
}

ul li a:hover{
  color:#fff;
  text-shadow: 0px 0px 1px #333;

}


.image-wrap
{
    display: flex;

}


.image-wrap p
{
    flex :2 ;

}
.image-wrap div
{
    flex :1 ;
    
}

img.logo 
{
      margin: auto;
      display: block;
      Width: 50%;
      padding-top: 3rem;
      padding-bottom: 6rem;
}

img.code
{
  margin: auto;
  display: block;
  Width: 60%; 
  padding: 1rem;
}

.navlogo
{
  margin: auto;
  display: block;
  padding: 1rem 0;
  
}

ul.inline
{
 
 display: flex;
}
ul li a.links
{
  text-align: left;
  color: #464551;
  font-weight:300;
}

.second_nav
{
  color: #464551;
  list-style: none;
 display : flex;
  word-break: break-word;
  text-align:center;
  font-size:1.2rem;
  padding:1rem;

}
 
@media only screen and (max-width: 700px) {

ul.inline
{
  
  display: block;
} 
.second_nav
{
  
  display: block;
  font-size:1rem;
}



  .image-wrap {
    display: block;
  }

  .container{
      display: block;
      word-break: break-word;
  }
  img.logo 
  {
        Width: 100%;
        margin: auto;
        display: block;
        padding-top: 3rem;
        padding-bottom: 5rem;
  }
}